body {
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  background-color: rgb(228,228,288);
}

.container {
  width: 70%;
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  text-align: center;
}

.calc {
  margin: 0 auto;
  max-width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
 }

input {
  margin: 10px 0;
  padding: 5px;
  border: solid 0.1px #b4b4b4;
  border-radius: 4px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.opArit {
  background-color: #b4b4b4;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 10px;
  transition: 0.4ms;
}

.opArit:hover {
  background-color: #39c7ff;
}